<!DOCTYPE html>
<html ng-app="splatter-web">
	<head>
		<title>Splatter User Information</title>
		<link rel="stylesheet" href="splatter.css"/>
		<script src="angular.min.js"></script>
		<script src="angular-resource.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<h1>Welcome to Splatter!</h1>
		<div id="navbar">
			<ul>
				<li><a href="index.html">Login/Register</a></li>
				<li><a href="userInfo.html">User Information</a></li>
				<li><a href="splatts.html">Splatts</a></li>
				<li><a href="followers.html">Follow User</a></li>
			</ul>
		</div>
		<h2>Enter ID of a user to follow them</h2>
		<div ng-controller="UserController as user">
			<div id="textboxes">
			<form name="followUserForm" ng-submit="user.follow()">
				<input type="text" ng-model="user.data.id" /><br><br>
				<input type="submit" value="Follow User" />
			</form>
			</div>

		<h2>Enter ID of a user to stop following them</h2>
		<div id="textboxes">
			<form name="unfollowUserForm" ng-submit="user.unfollow()">
				<input type="text" ng-model="user.data.id" /><br><br>
				<input type="submit" value="Stop Following User" />
			</form>
		</div>

		</div>
		
	</body>
</html>

			